<!-- complimentary_close -->
<xsl:if test="/root/record/printComplimentaryClose='true'">
    <xsl:choose>
        <xsl:when test="/root/record/lang='en'">
            <fo:block font-size="8pt" space-before="16pt" space-after="8pt">
                We thank you for your confidence.
            </fo:block>
            <fo:block font-size="8pt" space-after="16pt">
                With best regards
            </fo:block>
            <fo:block font-size="8pt">
                <![CDATA[
                #if( $systemCompany.letterWindowName)
                $systemCompany.letterWindowName
                #else
                $systemCompany.name
                #end
                ]]>
            </fo:block>
        </xsl:when>
        <xsl:otherwise>
            <fo:block font-size="8pt" space-before="16pt" space-after="8pt">
                Wir bedanken uns f&#252;r Ihr Vertrauen.
            </fo:block>
            <fo:block font-size="8pt" space-after="16pt">
                Mit freundlichen Gr&#252;&#223;en
            </fo:block>
            <fo:block font-size="8pt">
                <![CDATA[
                #if( $systemCompany.letterWindowName)
                Ihre $systemCompany.letterWindowName
                #else
                Ihre $systemCompany.name
                #end
                ]]>
            </fo:block>
        </xsl:otherwise>
    </xsl:choose>
</xsl:if>
