#set ($attachmentItems = "$attachmentItems")
<fo:block space-before="18pt" text-decoration="underline" font-size="10pt">Anlagen</fo:block>
<xsl:for-each select="exsl:node-set($attachmentItems)/item">
    <fo:block font-size="9pt">
        <xsl:value-of select="." />
    </fo:block>
</xsl:for-each>