
/* --- AJAX FORM INPUT --- */
div#transparentBackground {
    background: #222222;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    display: none;
    -moz-opacity: 0.8;
    opacity: 0.8;
    z-index: 1;
}

div#ajaxPopupDiv {
    position: fixed;
    left: 50%;
    top: 270px;
    min-width: 260px;
    padding: 5px;
    border: 1px solid black;
    margin-left: -130px;
    background: #F9F9F9;
    display: none;
    z-index: 2;
}

div#ajaxPopupHeader {
    text-align: left;
    min-width: 240px;
}

div#ajaxPopupContent {
    text-align: left;
    margin: 10px 0 0 0;
    width: 100%;
}

div#ajaxPopupContent table.nameValueList {
    width: 100%;
}

div#ajaxPopupContent table.nameValueList td.label {
    font-weight: bold
}

div#ajaxPopupContent table.nameValueList td.value {
    
}

a#ajaxPopupClose {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 16px;
    height: 16px;
    background-color: #555555;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}
