
#contentData #autoscroll {
    margin: 0px 0px 0px 17px;
    width: 98%;
    height: 520px;
}

.table {
	border-collapse: separate;
}

.table a {
	font: 13px;
}

.table th {
	height: 18px;
}

.day {
	width: 14%;
	height: 125px;
	vertical-align:	top;
}
			
.day.present {
	background: #eaebef;
}

.day .title {
	width: 100%;
	background: #cccccc;
}

.kw {
	width: 25px;
	height: 75px;		
	text-align: left;	
}

.term {
	width: 100%;
	padding: 1px 0;
	margin: 0;
	overflow: hidden;
}

.empty {
	color: #cccccc;
	vertical-align: top;
}