
div.contactCreate {
  width: 780px;
  height: 500px;
  overflow: auto;
  border: 1px solid #D6DDE6;  
  position: relative;
}

div.contactFrame {
  margin-top: 30px;
  overflow: auto;
}

.contactHeader {
  background-color: #DCDCDC; 
  margin: 0px; 
  padding-left: 9px; 
  border: 1px solid grey; 
  font-weight: bold;
}

div.contactDisplay {
  width: 780px;
  margin-bottom: 15px;
  overflow: auto;
}

div.contactLeft {
  width: 390px;
  float: left;
  overflow: auto;
}

div.contactRight {
  width: 390px;
  float: left;
  overflow: auto;
} 

div.contactDisplay .block {
  margin-left: 5px;
  width: 377px;
}

div.contactData {
  margin: 5px;
  margin-bottom: 10px;
  padding: 0px;
  overflow: auto;
}

div.contactDisplay .border {
  border: 1px solid #D1D1D1;
}

div.contactData .head {
  overflow: auto;
  border: 1px solid #D1D1D1;
	background-color: #DCDCDC;
  padding-left: 5px;
}

/*
  background-color: #FFFF99;
*/

div.contactData .head .headLeft {
  padding-left: 2px;
  width: 186px;
  float: left;
}

div.contactData .head .headRight {
  padding-right: 2px;
  width: 180px;
  float: left;
  text-align: right;
}

div.contactData .head .headLeft p,
div.contactData .head .headRight p {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  word-spacing: 10px;
  letter-spacing: 1px;
}

div.contactData .label {
  width: 100px;
  margin-right: 12px;
  float: left;
  text-align: right;
}

div.contactData .value {
  width: 254px;
  float: left;
}

div.contactData .edit .label {
  width: 120px;
}

div.contactData .edit .value {
  width: 234px;
}

div.contactData .notes .label {
  width: 120px;
}

div.contactData .notes .value {
  width: 234px;
}

div.contactData .text {
  padding: 5px 0px 0px 2px;
  width: 354px;
}

div.contactRight .label {
  text-align: left;
  padding: 0 0 0 2px;
}


div.contactData .value .salutation {
  width: 48%;
}

div.contactData .value .title {
  width: 48%;
}


div.contactData .value .text,
div.contactData .value .country  {
  width: 96%;
}

div.contactData .value .zipcode {
  width: 20%;
}

div.contactData .value .city {
  width: 72%;
}

div.contactData .value .ptype {
  width: 100%;
}

div.contactData .value .pcountry {
  width: 20%;
}

div.contactData .value .pprefix {
  width: 25%;
}

div.contactData .value .pnumber {
  width: 48%;
}

div.contactData .value .pnote {
  width: 98%;
}

div.contactData .value p {
	margin-top: 0px;
	margin-bottom: 3px;
}

div.contactData .submit {
	background-color: transparent;
}

div.contactData .list {
  width: 390px;
}

div.contactData .percent {
  width: 60px;
}

table.list th {
  font-weight: bold;
}

table.list .type {
	padding-left: 3px;
  width: 30px;
}

.table {
  width: 780px;
}

.table #name {
  width: 40%;
}

.table #street {
  width: 30%;
}

.table #city {
  width: 30%;
}
