
.contentBoxHeader {
    width: 100%;
}

.recordLabelValue {
    padding: 8px 10px 4px 10px;
}

.recordItems, .recordConditions {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.recordConditions p {
    margin-top: 10px;
    margin-left: 5px;
}

.table .quantity {
    text-align: right;
}

.table .quantityUnit {
    text-align: right;
    padding-right: 2%;
}

.table .inputPrice {
    text-align: right;
    width: 90px;
}

.table .total {
    text-align: right;
}

.table textarea.note {
    width: 362px;
}

.table .fillUp4 {
    width: 50%;
}

.table .fillUp5 {
    width: 40%;
}

.table .conditionsAction {
    text-align: right;
    width: 60px;
}

.table .inputShort {
    text-align: center; 
    width: 100px;
}

.recordEditLeft .table,
.recordEditRight .table {
    width: 100%;
}

.recordEditLeft {
    width: 500px;
}

.recordEditLeft .input {
    width: 300px;
}

.recordEditLeft textarea {
    width: 450px;
}

.recordEditRight .inputDate {
    text-align: left; 
    width: 95px;
}

.recordCorrection input.text[type="text"] {
    width: 195px;
}

.recordSummary {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-top: 1px solid #D6DDE6;
    border-collapse: collapse;
}

.recordSummary .pblank {
    width: 760px;
    height: 10px;
}
.recordSummary .pspace {
    width: 760px;
    height: 10px;
    border-bottom: 1px solid #D6DDE6;
}

.recordSummary .plast {
    width: 760px;
    height: 10px;
}

.recordSummary td {
    padding-left: 5px;
    padding-right: 5px;
}

.recordSummary .phead {
    width: 495px;
    padding-right: 0px;
    padding-left: 10px;
    border-right: 1px solid #D6DDE6;
    border-bottom: 1px solid #D6DDE6;
}

.recordSummary .phead .desc {
    font-weight: normal;
}

.recordSummary .pnet {
    width: 100px;
    text-align: right;
    border-right: 1px solid #D6DDE6;
    border-bottom: 1px solid #D6DDE6;
}

.recordSummary .pdate {
    width: 100px;
    text-align: right;
    padding-right: 5px;
    padding-left: 0px;
    border-right: 1px solid #D6DDE6;
    border-bottom: 1px solid #D6DDE6;
}

.recordSummary .ptax {
    width: 100px;
    text-align: right;
    border-right: 1px solid #D6DDE6;
    border-bottom: 1px solid #D6DDE6;
}

.recordSummary .pamount {
    width: 100px;
    text-align: right;
    border-bottom: 1px solid #D6DDE6;
    border-right: 1px solid #D6DDE6;
}

.recordSummary .payment {
    width: 595px;
    text-align: left;
    padding-left: 10px;
    padding-right: 0px;
    border-right: 1px solid #D6DDE6;
}

.recordSummary .paction {
    width: 24px;
    text-align: center;
    border-left: 1px solid #D6DDE6;
    border-bottom: 1px solid #D6DDE6;
    border-top: 1px solid #D6DDE6;
    border-right: 1px solid #D6DDE6;
}

.info_box a:hover span { 
    top: 10px; 
    left: -95px; 
}
