.recordEditLeft {
    width: 60%;
}
.recordEditLeft table,
.recordEditRight table {
    width: 99%;
}
textarea {
    width: 80%;
}
.table td,
.table th {
    padding: 5px;
}
select {
    width: 50%;
}
.recordInput {
    width: 50%;
}
.inputShort {
    width: 70px;
    text-align: right;
    padding-right: 7px;
}
.inputDate {
    width: 90px;
}
