.info_box a {
  color: white;
  background-color: #EB8802;
  text-decoration: none;
  padding: 1px 2px 1px 2px;
}

.table .first {
	width: 65px;
}

.table th.requestId {
	width: 65px;
}

.table td.requestId {
	padding-right: 10px;
	text-align: right;
}

.table th.requestType {
	width: 28px;
}

.table td.requestType {
	padding-left: 4px;
}

.table th.status {
	width: 40px;
}

.table td.status {
	text-align: right;
}

.table .created {
	width: 70px;
}

.table .target {
	width: 70px;
}

.table .sales {
	width: 135px;
}

.table .sales_initials {
	width: 20px;
}

.table .smallicon {
	margin-top: 2px;
	margin-left: 5px;
}

/* - contactDisplay ->In die Main.css - */
div.contactDisplay {
  width: 780px;
  margin-top: 10px;
  overflow: auto;
}

div.contactInformation {
  width: 390px;
  float: left;
  overflow: auto;
}

div.contactCommunication {
  width: 390px;
  float: left;
  overflow: auto;
} 

div.contactSegment {
  margin: 5px;
  margin-bottom: 10px;
  padding: 0px;
  overflow: auto;
  border: 1px solid #D1D1D1;
  background-color: white;
}

div.contactDisplay .head {
  overflow: auto;
  border: 1px solid #D1D1D1;
  background-color: #FFFF99;
}

div.contactDisplay .head .headLeft {
  padding-left: 2px;
  width: 186px;
  float: left;
}

div.contactDisplay .head .headRight {
  padding-right: 2px;
  width: 186px;
  float: left;
  text-align: right;
}

div.contactDisplay .head .headLeft p,
div.contactDisplay .head .headRight p {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  word-spacing: 10px;
  letter-spacing: 1px;
}

div.contactDisplay p.display {
  margin: 0px 0px 0px 0px;
  padding: 0px 29px 2px 0px;
  border-bottom: 1px solid #E1E1E1;
}

div.contactDisplay span.contactLabel {
  width: 90px;
  padding-left: 8px;
  margin-right: 15px;
  text-align: right; 
  display: block;
  float: left;
}

