    
.actionName {
    width: 330px;
}

.actionDate {
    width: 70px;
}

.actionUser {
    width: 220px;
}

.action {
    width: 60px;
}

.headline {
    width: 285px;
}

.closing {
    width: 86%; 
}

.closingName {
    width: 85%; 
}

textarea {
    width: 90%; 
}

.modalBoxData textarea {
    width: 100%; 
}

.modalBoxData p {
    padding-top: 5px;
    padding-bottom: 10px;
}
