td, th, input {
    text-align: right;
}
.productNumber {
    text-align: right;
    padding-right: 1em;
}
.productName, .productNote, .note {
    text-align: left;
}
.productAction, .productSelection {
    text-align: center;
}
