
tr.canceled td {
    text-decoration: line-through;
}

.recordId {
    width: 90px;
}

.recordHead {
    width: 390px;
}

.recordName {
    width: 190px;
}

.created {
    width: 70px;
}

.sum {
    width: 90px;
}

.amount {
    text-align: right;
}
