/*
 * Librebiz CSS
 *  
 */
.navbar-inverse {
    background-color: #123987;
}

.panel-area h4,
.panel-default .panel-heading,
.boldtext,
.contentBoxHeader,
.modalBoxData .label,
.text-muted,
div.standardForm,
#help_header {
    color: #123987;
}

input[type="button"], 
.contentBoxData input[type="button"], 
.modalBoxData input[type="button"] {
    background-color: #FFFFFF;
    color: #123987;
    border: 1px solid #123987;
    text-transform: uppercase;
}

input[type="button"], 
.contentBoxData input[type="button"], 
.modalBoxData input[type="button"] {
    background-color: #FFFFFF;
    color: #123987;
    border: 1px solid #123987;
    text-transform: uppercase;
}

input[type="button"]:hover, 
.contentBoxData input[type="button"]:hover, 
.modalBoxData input[type="button"]:hover,
input[type="button"]:focus, 
.contentBoxData input[type="button"]:focus, 
.modalBoxData input[type="button"]:focus,
input[type="button"]:active, 
.contentBoxData input[type="button"]:active, 
.modalBoxData input[type="button"]:active,
.cancel:hover, 
.cancel:focus, 
.cancel.active, 
.cancel:active {
    background-color: #123987;
    border: 2px solid #123987;
    color: #FFFFFF;
}

input[type="button"]:hover, 
.contentBoxData input[type="button"]:hover, 
.modalBoxData input[type="button"]:hover,
input[type="button"]:focus, 
.contentBoxData input[type="button"]:focus, 
.modalBoxData input[type="button"]:focus,
input[type="button"]:active, 
.contentBoxData input[type="button"]:active, 
.modalBoxData input[type="button"]:active,
.cancel:hover, 
.cancel:focus, 
.cancel.active, 
.cancel:active {
    background-color: #123987;
    border: 2px solid #123987;
    color: #FFFFFF;
}

