/*
 * osserp-core - osserp-core.css - Core CSS declaration.
 *  
 * Copyright 2001-2021 The original author or authors.
 * Licensed under the Apache License, Version 2.0.
 * 
 * Provides the common styles of the application.
 *
 */

/* topnavlist */
.topnavlist {
    display: inline;
    float: right;
    text-align: center;
}

.topnavlist ul {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

.topnavlist ul li {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 65px;
}

.topnavlist  ul li a:focus, .topnavlist ul li a:hover, .topnavlist ul li a:active {
    text-decoration: none;
}

.topnavlist ul li a {
    background: transparent none repeat scroll 0 0;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.topnavlist  ul li a:focus, .topnavlist ul li a:hover, .topnavlist ul li a:active {
    color: #DCDCDC;
}

/* navlist */
.navlist ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.navlist ul li {
    margin-bottom: 0.2em;
    margin-top: 0.4em;
}

.navlist ul li a:link, .navlist ul li a:visited {
    text-decoration: none;
    background-color: transparent;
}

.navlist ul li ul {
    border-bottom: none;
    font-weight: normal;
}

.navlist ul li ul li {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0.4em;
}

.navlist ul li ul li a:link, .navlist ul li ul li a:visited {
    text-decoration: none;
    background-color: transparent;
    padding-left: 20px;
}

.navlist ul li ul li a:hover, .navlist ul li a:hover {
    background-color: #DCDCDC;
}

/* content head with nav list */
#content_head_main {
    padding-left: 10px;
    padding-bottom: 14px;
    margin: 1px 0px 10px;
    border-bottom: 1px solid #EDE;
}

#content_header {
    height: 22px;
    padding: 3px 10px 0;
    text-transform: uppercase;
}

#content_header, .content-header {
    font-size: 14px;
    font-weight: bold;
}

#content_header_left {
    float: left;
}

#content_header_middle {
    float: left;
    margin-left: 5px;
}

#content_header_right {
    float: right;
    text-align: right;
}

/* contentnav - nav list inside content_header */
.contentnav {
    display: inline;
    text-align: center;
    float: right;
}

.contentnav ul {
    display: inline;
    margin: 0;
    padding: 0;
    float: left;
}

.contentnav ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25px;
    float: left;
    margin-left: .5em;
}

.contentnav ul li a, .contentnav ul li a:focus, .contentnav ul li a:hover, .contentnav ul li a:active {
    background: transparent none repeat scroll 0 0;
    color: white;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.contentnav img {
    margin-right: 14px;
}

.contentnav:last-child {
    margin-right: 0px;
}

.modalBox {
    border: 1px solid #A8A8A8;
    background-color: #FFFFFF;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 10px;
    min-width: 40%;
    max-width: 70%;
    text-align: left;
    z-index: 3;
}

.modalBox .table > tbody > tr > td,
.modalBox .table > tbody > tr > th,
.modalBox .table > tfoot > tr > td,
.modalBox .table > tfoot > tr > th,
.modalBox .table > thead > tr > td,
.modalBox .table > thead > tr > th {
    border-top: 0px;
}

/* table alignments */
.table .contact-key {
    text-transform: uppercase;
    width: 30px;
}

.table .action.icon {
    width: 30px;
}

.table .recordAction, .table .action {
    text-align: center;
}

.table .center {
    text-align: center;
}

.table .left {
    text-align: left;
}

.table .action.right, .table .quantity {
    text-align: right;
}

.table .recordAmount {
    text-align: right;
}

.table .recordVat {
    text-align: right;
}

.table .size, .table .docListSize {
    text-align: right;
    padding-right: 1.8em;
}

.table>tbody>tr>td.icon,
.table>tbody>tr>th.icon,
.table>thead>tr>td.icon,
.table>thead>tr>th.icon {
    width: 20px;
}

.table>tbody>tr>td.status {
    width: 45px;
}

.table-head {
    margin-bottom: 0px;
}

.table-head>tbody>tr>td,
.table-head>tbody>tr>th {
    border: 0px;
    padding: 0px;
}

.table-head .action {
    text-align: right;
}

.table-head a {
    margin-left: 8px;
}

.table .row-alt {
    background-color: #F5F5F5;
}

.query-textarea {
    min-height: 400px;
}

/* 
    This text column def provides the best setting to 
    see the same text width in html as in pdf document
*/
.recordTextColumn {
    width: 435px;
}

.checkboxRelated, .radio {
    margin-top: 0px;
}

.contentAction {
    text-align: center;
    width: 32px;
}

.error, .stopped {
    color: #D20707;
}

.unchangeable, .ignorable {
    font-style: italic;
}

.unused, .ignorable {
    color: grey;
}

a, a:link, a:visited, .navlist ul li ul li a:link, .navlist ul li ul li a:visited {
    color: #35559C;
}

/* navbar */
.navbar-inverse {
    background-color: #122954;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #D1D2D3;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus {
    color: #FFFFFF;
    background-color: #428BCA;
}

/* file upload button */
.file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

td .file-upload {
    color: #8C8888;
}

/* calendar input link icon */ 
#anchor1x .fa {
    color:#8C8888;
}

#help-config-area label {
	padding-left: 10px;
}

.panel-area h4,
.panel-default .panel-heading,
.boldtext,
.contentBoxHeader,
.modalBoxData .label,
.text-muted,
div.standardForm {
    color: #122954;
}

input[type="submit"].btn-upload {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    color: #8C8888;
}

input[type="submit"].btn-upload:hover,
input[type="submit"].btn-upload:focus,
input[type="submit"].btn-upload.active, 
input[type="submit"].btn-upload:active {
    background-color: #ccc;
    border: 1px solid #ccc;
    color: #FFFFFF;
}

input[type="submit"], 
.contentBoxData input[type="submit"], 
.modalBoxData input[type="submit"], 
.btn-primary {
    background-color: #FFFFFF;
    border: 2px solid #1CB11C;
    color: #1CB11C;
    text-transform: uppercase;
}

input[type="button"], 
.contentBoxData input[type="button"], 
.modalBoxData input[type="button"] {
    background-color: #FFFFFF;
    color: #122954;
    border: 1px solid #122954;
    text-transform: uppercase;
}

input[type="submit"]:hover, 
.contentBoxData input[type="submit"]:hover, 
.modalBoxData input[type="submit"]:hover, 
input[type="submit"]:focus, 
.contentBoxData input[type="submit"]:focus, 
.modalBoxData input[type="submit"]:focus, 
input[type="submit"]:active, 
.contentBoxData input[type="submit"]:active, 
.modalBoxData input[type="submit"]:active, 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.active, 
.btn-primary:active, 
.open>.dropdown-toggle.btn-primary {
    background-color: #1CB11C;
    border: 2px solid #1CB11C;
    color: #FFFFFF;
}

input[type="button"]:hover, 
.contentBoxData input[type="button"]:hover, 
.modalBoxData input[type="button"]:hover,
input[type="button"]:focus, 
.contentBoxData input[type="button"]:focus, 
.modalBoxData input[type="button"]:focus,
input[type="button"]:active, 
.contentBoxData input[type="button"]:active, 
.modalBoxData input[type="button"]:active,
.cancel:hover, 
.cancel:focus, 
.cancel.active, 
.cancel:active {
    background-color: #122954;
    border: 2px solid #122954;
    color: #FFFFFF;
}
