/*
 * osserp-core - osserp-boostrap.css - Custom styles.
 *  
 * Copyright 2001-2021 The original author or authors.
 * Licensed under the MIT License (MIT).
 * 
 * Overrides or extends Bootstrap 3 declarations.
 *
 */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "open_sansregular", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Margin bottom by footer height */
    margin-bottom: 50px;

    /* Move down content because we have a fixed navbar that is 50px tall */
    padding-top: 50px;
}

.h1, h1 {
    font-size: 24px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0px 2px;
    border-bottom: 1px solid #EEE;
}

.footer {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: display;
    /* Set the fixed height of the footer here */
    height: 50px;
}

.footer .container-fluid {
    margin-top: 12px;
}

.footer .container span {
    margin-left: 15px;
}

/* Custom CSS - Inspired by Bootstrap Dashboard */

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    height: 51px;
    border: 0;
}

.navbar-right {
    font-size: 15px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media ( min-width : 768px) {
    .sidebar {
        position: fixed;
        height: 100%;
        left: 0;
        z-index: 1000;
        display: block;
        padding-top: 8px;
        padding-left: 15px;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 0px;
    color: #333;
}

.nav>li>span {
    position: relative;
    display: block;
    padding: 10px 0px;
}

/* Main content */

.main {
    padding: 20px;
    background-color: #fff;
}

@media ( min-width : 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
        z-index: 1000;
    }
}

.main .page-header {
    margin-top: 0;
}

.main-content>h1:first-child, 
.main-content>h2:first-child,
.main-content>h3:first-child, 
.main-content>h4:first-child,
.main-content>h5:first-child, 
.main-content>h6:first-child {
    margin-top: 0;
}

.content-area {
    margin-left: 10px;
    margin-top: 0px;
}

.content-area label {
    font-weight: 500;
}

.content-area .content-container {
    position: relative;
    min-height: 100%;
    padding: 130px 0 110px 0;
}

.content-area .content-container {
    position: relative;
    width: 85%;
    min-height: 100%;
    padding: 0px 0px 0px 30px;
}

.content-container h4 {
    padding-bottom: 0.4em;
}

.content-container p {
    padding-top: .8em;
}

.content-container ul {
    padding-top: .5em;
}

.content-next {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .content-container {
        padding: 0 30px;
        margin-left: 0 !important;
    }
}

.panel {
    box-shadow: 0px;
    border-radius: 0px;
}

.panel-area {
    padding-left: 25px;
    padding-right: 25px;
}

.panel-area h4 {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.panel-default .panel-heading {
    padding: 5px 15px;
}

.panel-area-default {
    margin-top: 5px
}

.panel-area-modal {
    min-width: 100%;
}

.panel-area-modal .panel {
    margin-bottom: 10px;
}

.panel-left-right {
    min-height: 486px;
}

.content-area .panel-body {
    padding: 5px 5px 5px 10px;
}

.form-body label {
    font-weight: 500;
}

.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] 
.form-control {
    background-color: #f9f9f9;
    opacity: 1;
}

.form-control.inline {
    display: inline-block;
}

.form-control.datepicker {
    border: 0px;
    padding-left: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-control.phone-prefix {
    width: 70px;
}

.form-control.shortname {
    width: 50%;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-group ul, .form-group li {
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
}

.form-group .checkbox-label {
    padding-top: 10px;
}

.form-group .form-value {
    padding-left: 10px;
}

.form-group .form-hint {
    padding-top: 7px;
}

.form-group .input-time {
    text-align: right;
    width: 50px;
}

.form-group .input-hours {
    text-align: right;
    width: 70px;
}

.form-value-right {
    text-align: right;
    padding-right: 10px;
}

input.date[type="text"].form-control.date {
    text-align: left;
    width: 105px;
}

.btn-lg,
.btn-group-lg > .btn,
input[type="submit"], 
input[type="button"] {
    font-size: 13px;
    font-weight: 700;
    min-width: 110px;
    text-transform: uppercase;
}

input[type="button"].btn-mailto {
    min-width: 40px;
}

.row .next {
    margin-top: 15px;
}

.row-modal {
    margin-top: 20px;
}

.table > thead > tr > th {
    text-transform: uppercase;
}

.table-responsive-default {
    min-height: 550px;
    max-height: 668px;
}

.table-responsive-max {
    max-height: 668px;
}

.table-responsive-min {
    min-height: 550px;
}

.panel-list-body {
    min-height: 550px;
    max-height: 668px;
    overflow: auto;
}

.panel-list-content {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}
