/*
 * osserp-core - osserp-static.css - Static content decoration.
 *  
 * Copyright 2001-2021 The original author or authors.
 * Licensed under the Apache License, Version 2.0.
 * 
 * The static CSS definitions are imported by pages created
 * before switching to responsive theme.  
 *
 */

/* -- Basic text definitions -- */

.boldtext {
    font-weight: bold;
    font-size: 96%;
}

.smalltext {
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

.error {
    color: #D20707;
    font-weight: normal;
}

.smallerror {
    font-size: 12px;
    color: #D20707;
    font-weight: normal;
}

.bolderror {
    color: #D20707;
    font-weight: bold;
}

.smallbolderror {
    font-size: 12px;
    color: #D20707;
    font-weight: bold;
}

.canceled {
    text-decoration: line-through;
}

.fullwidth {
    width: 100%;
}

/* --- Basic style of inputs --- */

textarea {
    width: 200px;
}

input[type=text].text {
    width: 150px;
    text-align: left;
}

input[type=text].longText {
    width: 200px;
    text-align: left;
}

input[type=text].number {
    width: 50px;
    text-align: right;
}

input[type=text].longNumber {
    width: 80px;
    text-align: right;
}

input[type=text].shortNumber {
    width: 25px;
    text-align: right;
}

input[type=text].date {
    width: 70px;
    text-align: right;
}

input[type=text].dateWithPicker {
    width: 80px;
}

select.fix50 {
    width: 50px !important;
}

select.fix150 {
    width: 150px !important;
}

select.fix200 {
    width: 200px !important;
}

#appointmentHours, #appointmentMinutes, #reminderHours, #reminderMinutes {
    width: 45px;
}

/* --- Basic style of links --- */

a {
    text-decoration: none;
    background-color: transparent;
}

a .icon {
    text-decoration: none;
    background-color: transparent;
}

a:link, a:visited {
    text-decoration: none;
    background-color: transparent;
}

/* Text aligns */

.right {
    text-align: right;
}

.left {
    text-align: left
}

.center {
    text-align: center;
}

.top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}

.middle {
    vertical-align: middle;
}

#left_data, #right_data {
    position: relative;
}

#left {
    float: left;
    width: 120px;
}

#left_data {
    width: 100%;
    overflow: auto;
    margin-top: 10px;
    height: 560px;
}

#right {
    width: auto;
    margin-left: 120px;
}

#right_data {
    width: 100%;
    overflow: hidden;
}

/* Scrollable content */

.scroll {
    overflow: auto;
}

.scrolly {
    overflow-x: hidden;
    overflow-y: auto;
}

.scrollx {
    overflow-x: auto;
    overflow-y: hidden;
}

.scrollbar {
    width: 5px;
}

.scrollTableBody {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Styles for subcolumns */
.subcolumns {
    width: 100%;
    overflow: hidden;
}

.column15l, .column25l, .column33l, .column50l, .column66l, .column75l, .column85l {
    float: left;
}

.column15r, .column25r, .column33r, .column50r, .column66r, .column75r, .column85r {
    float: right;
    margin-left: -5px;
}

.column15l, .column15r {
    width: 15%;
}

.column16l {
    float: left;
}

.column16r {
    float: right;
    margin-left: -5px;
}

.column16l, .column16r {
    width: 16.5%;
}

.column25l, .column25r {
    width: 25%;
}

.column33l, .column33r {
    width: 33.333%;
}

.column50l, .column50r {
    width: 50%;
}

.column66l, .column66r {
    width: 66.666%;
}

.column75l, .column75r {
    width: 75%;
}

.column85l, .column85r {
    width: 85%;
}

.column100 {
    width: 100%;
}

.subcolumn {
    padding: 0 16px 0 16px;
}

.subcolumnc {
    padding: 0 8px 0 8px;
}

.subcolumnr {
    padding: 0 16px 0 8px;
}

.subcolumnl {
    padding: 0 8px 0 16px;
}

/* Styles for spacer */
.spacer {
    height: 16px;
}

.smallSpacer {
    height: 8px;
}

/* Styles for content boxes */

.contentBoxData {
    background: #FFFFFF;
}

.contentBoxHeader {
    background-color: #F5F5F5;
    border-color: #DDD;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px 15px;
    overflow: hidden;
    font-size: 14px;
    text-transform: uppercase;
}

.contentBoxHeaderLeft {
    float: left;
}

.contentBoxHeaderRight {
    float: right;
}

.subHeaderLeft {
    text-align: right;
    float: left;
    padding-right: 5px;
}

.subHeaderRight {
    text-align: left;
    float: left;
    padding-left: 10px;
}

/* Styles for value tables */
.valueTable {
    width: 100%;
    border-spacing: 0;
}

.valueTable td:first-child {
    text-align: left;
    padding-left: 15px;
}

.valueTable.bold td:first-child {
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}

.valueTable.withUnits td {
    text-align: right;
}

.valueTable.withUnits  td:last-child {
    text-align: left;
}

.valueTable td {
    padding: 5px 5px;
    vertical-align: top;
}

.valueTable.first33 td:first-child {
    width: 33%;
}

.valueTable.first50 td:first-child {
    width: 50%;
}

.valueTable.first66 td:first-child {
    width: 66%;
}

.valueTable.input td {
    vertical-align: middle;
}

.valueTable.colon td:first-child:after {
    content: ":";
}

.valueTable.table-striped th {
    border-color: #D6DDE6;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 5px 5px;
}

.valueTable.table-striped th:last-child {
    border-width: 0 0 1px 0;
}

.valueTable.table-striped td {
    border-color: #D6DDE6;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 5px 5px;
}

.valueTable.table-striped tr:last-child td {
    border-width: 0 1px 0 0;
}

.valueTable.table-striped td:last-child {
    border-width: 0 0 1px 0;
}

.valueTable.table-striped tr:last-child td:last-child {
    border-width: 0 0 0 0;
}

.table .number {
    width: 50px;
}

.table .longNumber {
    width: 80px;
}

.table .shortNumber {
    width: 25px;
}

.table .date {
    width: 70px;
}

.table .dateTime {
    width: 100px;
}

.table .text {
    width: 200px;
}

.table .amount {
    text-align: right;
}

.table tbody tr {
    background-color: #FFFFFF;
    height: 10px;
}

.table-head tbody tr {
    background-color: #f5f5f5;
}

.table tr.altrow {
    background-color: #F9F9F9;
}

.table tr.green {
    background-color: #AAFFAA;
}

.table tr.grey {
    background-color: #C0C0C0;
}

.table tr.lightgrey {
    background-color: #FBFBFB
}

.table tr.red {
    background-color: #FFD9DB;
}

.table tr.summary {
    background-color: rgb(212, 212, 212);
}

.table tr.yellow {
    background-color: #FFFFAA;
}

.table tr.green {
    background-color: #B4FCB4;
}

/* Styles for search boxes */
.searchBox {
    border: 1px solid silver;
}

.searchBoxHeader {
    background-color: #DCDCDC;
    border-color: #828282;
    border-style: solid;
    border-width: 0 0 1px 0;
    font-weight: bold;
    overflow: hidden;
    padding: 0px 5px;
}

.searchBoxBoxHeaderLeft {
    float: left;
}

.searchBoxBoxHeaderRight {
    float: right;
}

.searchBoxData {
    background: #FFFFFF;
}

.searchList {
    list-style-type: none;
}

.searchoption label {
    font-weight: normal;
}

/* Error box */
.errormessage {
    font-weight: bold;
    color: red;
    text-align: center;
    margin-top: 5px;
}

/* Info box */
.infomessage {
    font-weight: bold;
    text-align: center;
    color: #008800;
    font-weight: normal;
}

/* Message box */
.message {
    text-align: center;
    font-weight: normal;
}

/* Styles for modal boxes */

.modalBoxHeader {
    border-color: #828282;
    border-style: solid;
    border-width: 0 0 1px 0;
    font-weight: bold;
    overflow: hidden;
    padding: 0px 5px;
    text-transform: uppercase;
}

.modalBoxHeaderLeft {
    float: left;
    padding-right: 20px;
}

.modalBoxHeaderRight {
    float: right;
    padding-right: 10px;
}

.modalBoxData {
    background: #FFFFFF;
    overflow: auto;
    /* max-height: 960px; */
    /* max-width: 800px; */
}

.modalBoxCloseButton {
    position: absolute;
    right: 1px;
    top: 0px;
    font-weight: bold;
    padding: 0px 3px;
    cursor: pointer;
    color: #444444;
    z-index: 1000;
}

/* Box navigation */

.boxnav {
    display: inline;
    text-align: center;
    float: right;
}

.boxnav ul {
    display: inline;
    margin: 0;
    padding: 0;
    float: left;
}

.boxnav ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 1px 0 0 0;
    width: 20px;
    float: left;
    line-height: 1em;
}

.boxnav ul li a, 
.boxnav ul li a:focus, 
.boxnav ul li a:hover, 
.boxnav ul li a:active {
    background: transparent none repeat scroll 0 0;
    color: white;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.boxnav ul li a img {
    width: 13px;
    height: 13px;
}


/* Tab (left margin) */
.tab {
    margin-left: 10px;
}

/* Styles for inputs in valueTable */
.valueTable input[type=text].amount {
    text-align: right;
}

/* Styles for inputs in valueTable */
.valueTable input[type=text].numeric {
    text-align: right;
}

/* 
    NOTE: All styles concerning input fields with fixed width below are 
    deprecated and should be removed. Since this job has no priority but
    may cause side effects on existing pages, we remove the usage of the 
    declarations page by page, whenever there's something to do with such
    a page. 
*/ 

/* Styles for input width 200 in valueTable */

.valueTable.inputs200 input[type=text], .valueTable.inputs200 input[type=password] {
    width: 200px;
}

.valueTable.inputs200 textarea {
    width: 200px;
}

.valueTable.inputs200 select {
    width: 204px;
}

.valueTable.inputs200 select.phoneCountry {
    width: 50px;
}

.valueTable.inputs200 input[type=text].phoneCountry {
    width: 46px;
}

.valueTable.inputs200 input[type=text].phonePrefix {
    width: 50px;
}

.valueTable.inputs200 input[type=text].phoneNumber {
    width: 90px;
}

.valueTable.inputs200 select.contactSalutation {
    width: 101px;
}

.valueTable.inputs200 select.contactTitle {
    width: 101px;
}

.valueTable.inputs200 input[type=text].dateWithPicker {
    width: 178px;
}

.valueTable.inputs200 td {
    vertical-align: middle;
}

/* Styles for input width 230 in valueTable */

.valueTable.inputs230 input[type=text], .valueTable.inputs230 input[type=password] {
    width: 230px;
}

.valueTable.inputs230 textarea {
    width: 230px;
}

.valueTable.inputs230 select {
    width: 233px;
}

.valueTable.inputs230 select.phoneCountry {
    width: 55px;
}

.valueTable.inputs230 input[type=text].phoneCountry {
    width: 51px;
}

.valueTable.inputs230 input[type=text].phonePrefix {
    width: 60px;
}

.valueTable.inputs230 input[type=text].phoneNumber {
    width: 105px;
}

.valueTable.inputs230 select.contactSalutation {
    width: 115px;
}

.valueTable.inputs230 select.contactTitle {
    width: 115px;
}

.valueTable.inputs230 input[type=text].dateWithPicker {
    width: 208px;
}

.valueTable.inputs230 td {
    vertical-align: middle;
}

/* Styles for input width 100 in valueTable */

.valueTable.inputs100 input[type=text], 
.valueTable.inputs100 input[type=password] {
    width: 100px;
}

.valueTable.inputs100 textarea {
    width: 100px;
}

.valueTable.inputs100 select {
    width: 104px;
}

.valueTable.inputs100 td {
    vertical-align: middle;
}

/* Styles for input width 100% in valueTable */

.valueTable.inputsFull input[type=text], 
.valueTable.inputsFull input[type=password] {
    width: 100%;
}

.valueTable.inputsFull textarea {
    width: 100%;
}

.valueTable.inputsFull select {
    width: 100%;
}

.valueTable.inputsFull td {
    vertical-align: middle;
}

.valueTable.inputsFull td.label {
    vertical-align: top;
}

/* --- STANDARD FORM --- */
div.standardForm {
    background-color: transparent;
}

div.standardForm .formContent {
    background-color: white;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

div.standardForm .formContent div.start {
    padding-top: 10px;
}

div.standardForm .header, 
div.standardForm .label, 
div.standardForm .value {
    padding-top: 10px;
    float: left;
    overflow: hidden;
}

div.standardForm .label {
    margin-left: 15px;
}

div.standardForm .value {
    margin-right: 15px;
}

div.standardForm .header {
    font-weight: bold;
}

div.standardForm .label {
    min-width: 120px;
    text-align: right;
    margin-right: 10px;
    font-size: 100%;
}

div.standardForm .value {
    min-width: 300px;
}

div.standardForm .inputDays {
    width: 45px;
    text-align: right;
}

div.standardForm .submit {
    margin-top: 10px;
}

.ajaxSearchFormMessage {
    padding: 10px;
    border: 1px solid silver;
    text-align: center;
    background-color: #FFFFFF;
}

/* --- Content area --- */
#content {
    background-color: white;
    border: 1px solid #999999;
    margin: 10px;
    font-weight: normal;
}

#content_data {
    overflow: auto;
}

#content_include {
    margin: 10px;
}



/* 
-- Override deprecated static form declarations with new declarations
-- as provided by bs3 and used for new pages. 
*/ 

.contentBoxData input[type=text], 
.contentBoxData input[type=submit],
.contentBoxData input[type=button],
.contentBoxData select,
.modalBoxData input[type=text], 
.modalBoxData input[type=submit],
.modalBoxData input[type=button],
.modalBoxData select {
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contentBoxData input[type=text], 
.contentBoxData select,
.modalBoxData input[type=text], 
.modalBoxData select {
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
}

.contentBoxData input[type=submit],
.contentBoxData input[type=button],
.modalBoxData input[type=submit],
.modalBoxData input[type=button] {
    width: 32%;
    height: 34px;
}

.contentBoxData .valueTable input[type=submit],
.contentBoxData .valueTable input[type=button],
.modalBoxData .valueTable input[type=submit],
.modalBoxData .valueTable input[type=button] {
    width: 99%;
    height: 34px;
}

.contentBoxData input[type=text],
.contentBoxData select,
.modalBoxData input[type=text],
.modalBoxData select {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
}

.contentBoxData textarea,
.modalBoxData textarea {
    width: 100%;
    padding: 6px 12px;
}

.contentBoxData input[type=text].inputDays,
.modalBoxData input[type=text].inputDays {
    width: 20%;
    text-align: right;
}

.contentBoxData input[type=text].shortNumber,
.modalBoxData input[type=text].shortNumber {
    width: 15%;
    text-align: right;
}

.contentBoxData input[type=text].number,
.modalBoxData input[type=text].number {
    width: 35%;
    text-align: right;
}

.contentBoxData input[type=text].longNumber,
.modalBoxData input[type=text].longNumber {
    width: 50%;
    text-align: right;
}

.contentBoxData select.phoneCountry,
.modalBoxData select.phoneCountry {
    width: 20%;
    text-align: right;
}

.contentBoxData input[type=text].phonePrefix,
.modalBoxData input[type=text].phonePrefix {
    width: 24%;
}

.contentBoxData input[type=text].phoneNumber,
.modalBoxData input[type=text].phoneNumber {
    width: 54%;
}

.contentBoxData input[type=text]#zipcode,
.modalBoxData input[type=text]#zipcode,
.contentBoxData input[type=text].addressZipcode,
.modalBoxData input[type=text].addressZipcode {
    width: 24%;
}

.contentBoxData input[type=text]#city,
.modalBoxData input[type=text]#city,
.contentBoxData input[type=text].addressCity,
.modalBoxData input[type=text].addressCity {
    width: 74%;
}

.valueTable td:first-child {
    vertical-align: top;
}

.valueTable td.row-submit {
    padding-top: 20px;
}

/* --- Datepicker calendar --- 
-- Author: Matt Kruse <matt@mattkruse.com>
-- WWW: http://www.mattkruse.com/
-- See ../js/datepicker.js or URL above for license.
*/

.cpYearNavigation, .cpMonthNavigation {
  background-color: #C0C0C0;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.cpDayColumnHeader,
.cpYearNavigation,
.cpMonthNavigation,
.cpCurrentMonthDate,
.cpCurrentMonthDateDisabled,
.cpOtherMonthDate,
.cpOtherMonthDateDisabled,
.cpCurrentDate,
.cpCurrentDateDisabled,
.cpTodayText,
.cpTodayTextDisabled,
.cpText {
}
TD.cpDayColumnHeader {
  text-align: right;
  border: solid thin #C0C0C0;
  border-width: 0px 0px 1px 0px;
}
.cpCurrentMonthDate,
.cpOtherMonthDate,
.cpCurrentDate  {
  text-align: right;
  text-decoration: none;
}
.cpCurrentMonthDateDisabled,
.cpOtherMonthDateDisabled,
.cpCurrentDateDisabled {
  color: #D0D0D0;
  text-align: right;
  text-decoration: line-through;
}
.cpCurrentMonthDate,
.cpCurrentDate {
  color:#000000;
}
.cpOtherMonthDate {
  color: #808080;
}
TD.cpCurrentDate {
  color: white;
  background-color: #C0C0C0;
  border-width: 1px;
  border: solid thin #800000;
}
TD.cpCurrentDateDisabled {
  border-width: 1px;
  border: solid thin #FFAAAA;
}
TD.cpTodayText, TD.cpTodayTextDisabled {
  border: solid thin #C0C0C0;
  border-width: 1px 0px 0px 0px;
}
A.cpTodayText, SPAN.cpTodayTextDisabled { height:20px; }
A.cpTodayText { color:black; }
.cpTodayTextDisabled { color:#D0D0D0; }
.cpBorder { border:solid thin #808080; }
