<?xml version="1.0" encoding="UTF-8"?>
<!-- Offene Zahlungen (Comfort) / outstanding payments -->
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:fo="http://www.w3.org/1999/XSL/Format" version="1.1">
    <xsl:output method="xml" version="1.0" omit-xml-declaration="no" indent="yes" />
    <xsl:template match="/">
        <fo:root>
            <fo:layout-master-set>
                <fo:simple-page-master master-name="ersteSeite" page-height="21cm" page-width="29.7cm" margin-left="1.5cm" margin-right="1.5cm">
                    <fo:region-body margin-top="2.6cm" margin-bottom="1.6cm" />
                    <fo:region-before extent="2.6cm" />
                    <fo:region-after extent="1.6cm" />
                </fo:simple-page-master>
            </fo:layout-master-set>
            <fo:page-sequence master-reference="ersteSeite">
                <fo:static-content flow-name="xsl-region-before" font-family="$documentPrintFontFamily">
                    <fo:block font-size="22pt" font-weight="bold" text-align="center" space-before="22pt">Offene Auftr&#228;ge</fo:block>
                    <fo:table table-layout="fixed">
                        <fo:table-column column-width="1.4cm" column-number="1" />
                        <fo:table-column column-width="6.5cm" column-number="2" />
                        <fo:table-column column-width="0.8cm" column-number="3" />
                        <fo:table-column column-width="0.8cm" column-number="4" />
                        <fo:table-column column-width="0.8cm" column-number="5" />
                        <fo:table-column column-width="1.6cm" column-number="6" />
                        <fo:table-column column-width="1.6cm" column-number="7" />
                        <fo:table-column column-width="1.6cm" column-number="8" />
                        <fo:table-column column-width="1.6cm" column-number="9" />
                        <fo:table-column column-width="1.6cm" column-number="10" />
                        <fo:table-column column-width="1.6cm" column-number="11" />
                        <fo:table-column column-width="1.6cm" column-number="12" />
                        <fo:table-column column-width="1.6cm" column-number="13" />
                        <fo:table-column column-width="1.6cm" column-number="14" />
                        <fo:table-column column-width="2cm" column-number="15" />
                        <fo:table-body>
                            <fo:table-row>
                                <fo:table-cell>
                                    <fo:block font-size="10pt" font-weight="bold" />
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block font-size="10pt" font-weight="bold" />
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block font-size="10pt" font-weight="bold" />
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block font-size="10pt" font-weight="bold" />
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block font-size="10pt" font-weight="bold" />
                                </fo:table-cell>
                                <fo:table-cell number-columns-spanned="2">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">AF</fo:block>
                                </fo:table-cell>
                                <fo:table-cell number-columns-spanned="2">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">AZR</fo:block>
                                </fo:table-cell>
                                <fo:table-cell number-columns-spanned="2">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">LFR</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">ABR</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">TZ</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">AS</fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center" />
                                </fo:table-cell>
                            </fo:table-row>
                            <fo:table-row>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">Nr</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold">Projektname</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">S</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">V</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">P</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">ges</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">OK</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">ges</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">bez</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">ges</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">bez</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">ges</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">am</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">am</fo:block>
                                </fo:table-cell>
                                <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                    <fo:block font-size="10pt" font-weight="bold" text-align="center">off. Betrag</fo:block>
                                </fo:table-cell>
                            </fo:table-row>
                        </fo:table-body>
                    </fo:table>
                </fo:static-content>
                <fo:static-content flow-name="xsl-region-after" font-family="$documentPrintFontFamily">
                    <fo:table table-layout="fixed">
                        <fo:table-column column-width="8.9cm" column-number="1" />
                        <fo:table-column column-width="8.9cm" column-number="2" />
                        <fo:table-column column-width="8.9cm" column-number="3" />
                        <fo:table-body>
                            <fo:table-row>
                                <fo:table-cell>
                                    <fo:block font-size="8pt" space-before="14pt" text-align="left">
                                        Seite
                                        <fo:page-number />
                                        von
                                        <fo:page-number-citation ref-id="lastBlock" />
                                    </fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block font-size="8pt" space-before="14pt" text-align="center">
                                        Ausdruck vom:
                                        <xsl:value-of select="/openprojects/currentDate" />
                                    </fo:block>
                                </fo:table-cell>
                                <fo:table-cell>
                                    <fo:block font-size="8pt" space-before="14pt" text-align="right" />
                                </fo:table-cell>
                            </fo:table-row>
                        </fo:table-body>
                    </fo:table>
                </fo:static-content>
                <fo:flow flow-name="xsl-region-body" font-family="$documentPrintFontFamily">
                    <fo:table table-layout="fixed">
                        <fo:table-column column-width="1.4cm" column-number="1" />
                        <fo:table-column column-width="6.5cm" column-number="2" />
                        <fo:table-column column-width="0.8cm" column-number="3" />
                        <fo:table-column column-width="0.8cm" column-number="4" />
                        <fo:table-column column-width="0.8cm" column-number="5" />
                        <fo:table-column column-width="1.6cm" column-number="6" />
                        <fo:table-column column-width="1.6cm" column-number="7" />
                        <fo:table-column column-width="1.6cm" column-number="8" />
                        <fo:table-column column-width="1.6cm" column-number="9" />
                        <fo:table-column column-width="1.6cm" column-number="10" />
                        <fo:table-column column-width="1.6cm" column-number="11" />
                        <fo:table-column column-width="1.6cm" column-number="12" />
                        <fo:table-column column-width="1.6cm" column-number="13" />
                        <fo:table-column column-width="1.6cm" column-number="14" />
                        <fo:table-column column-width="2cm" column-number="15" />
                        <fo:table-body>
                            <xsl:for-each select="openprojects/project">
                                <fo:table-row>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="prj" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt">
                                            <xsl:value-of select="name" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="status" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="sales" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="manager" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="startRequest" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="started" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="downpaymentRequest" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="downpayment" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="deliveryInvoiceRequest" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="deliveryInvoice" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="finalInvoiceRequest" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="partialPayment" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <fo:block font-size="10pt" text-align="center">
                                            <xsl:value-of select="stopped" />
                                        </fo:block>
                                    </fo:table-cell>
                                    <fo:table-cell border-after-style="solid" border-after-color="black" border-after-width="0.5pt" padding-top="2pt" padding-bottom="1pt">
                                        <xsl:if test="amount!=''">
                                            <xsl:if test="amount!='0,00'">
                                                <fo:block font-size="10pt" text-align="right">
                                                    <xsl:value-of select="amount" />
                                                </fo:block>
                                            </xsl:if>
                                        </xsl:if>
                                    </fo:table-cell>
                                </fo:table-row>
                            </xsl:for-each>
                        </fo:table-body>
                    </fo:table>
                    <fo:block font-size="1pt" text-align="center" id="lastBlock" />
                </fo:flow>
            </fo:page-sequence>
        </fo:root>
    </xsl:template>
</xsl:stylesheet>
